
body {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(153,204,255,1) 100%);
}

@media (max-width: 37.5rem){
    .mainContainer{
        padding: 1px !important;
    }    
}
